<a href="https://colab.research.google.com/github/Leehongseok-code/AIPractice/blob/master/EmbeddingBaseLine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd
import tensorflow as tf
from tensorflow import keras

In [ ]:
df = pd.read_csv('heart.csv')
df.head(5)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

str_col = ['Sex', 'ChestPainType', 'RestingECG', 'MaxHR', 'ExerciseAngina', 'ST_Slope']

for i in str_col:
  le = le.fit(df[i])
  df[i] = le.transform(df[i])
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,98,0,0.0,2,0
1,49,0,2,160,180,0,1,82,0,1.0,1,1
2,37,1,1,130,283,0,2,25,0,0.0,2,0
3,48,0,0,138,214,0,1,34,1,1.5,1,1
4,54,1,2,150,195,0,1,48,0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,58,0,1.2,1,1
914,68,1,0,144,193,1,1,67,0,3.4,1,1
915,57,1,0,130,131,0,1,41,1,1.2,1,1
916,57,0,1,130,236,0,0,100,0,0.0,1,1
917,38,1,2,138,175,0,1,99,0,0.0,2,0

In [ ]:
target = df.pop('HeartDisease')
target

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 918, dtype: int64

In [ ]:
dataset = tf.data.Dataset.from_tensor_slices((df.values, target.values))
dataset_p = tf.data.Dataset.from_tensor_slices((df['ChestPainType'].values, target.values))

In [ ]:
ChestPainType_input = keras.Input(shape=(1,), name='ChestPainType')
embedding = keras.layers.Embedding(df['ChestPainType'].max()+1, 4)(ChestPainType_input)
model = keras.Model(inputs= ChestPainType_input, outputs = embedding)

model.predict(df['ChestPainType'])

29/29 [==============================] - 0s 858us/step

array([[[-0.04212761,  0.02166871, -0.02102976,  0.0385092 ]],

       [[ 0.03198322, -0.02215552,  0.03006438,  0.01161588]],

       [[-0.04212761,  0.02166871, -0.02102976,  0.0385092 ]],

       ...,

       [[ 0.04043968, -0.04033618,  0.03700412,  0.03816767]],

       [[-0.04212761,  0.02166871, -0.02102976,  0.0385092 ]],

       [[ 0.03198322, -0.02215552,  0.03006438,  0.01161588]]],
      dtype=float32)